*{
    margin:0;
    padding:0;
}
body{
    font-family: Tahoma;
}
header{
    text-align: center;
    background-color:#afddfb;
    width: 100vw;
    height: 42vh;
    padding-bottom: 30px;
}

header nav ul{
    display:flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: Tahoma;
}

header a{
    color:#1d1d1d;
    margin-right: 20px;
    font-size: 18px;
    text-decoration: none;
    border-bottom: solid 2px #1d1d1d;
}

header img{
    width:12%;
    margin-top:30px;
}

.banner img {
    max-width: 100%;
    height: auto;
}

div {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;

}

p {
    width: 980px;
    margin-top: 10px;
    margin: 10px auto;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

h3 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

#sobre h1{
    color:#1d1d1d;
    margin-bottom: 5px;
}

 #sobre h2 {
    color:#1c81c0;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;

}

#corretores h3{
    color:#1c81c0;
    font-size: 28px;
    line-height: 42px;
}

 .sobre img , .corretores img{
    width: 450px;
}

.texto-azul {
    font-weight: bold;
    color:#1d80c1;
}

#servicos, #contato {
    background-color: #1d80c1;
    color: #ffffff;
}

.servicos p {
    width: 700px;
    font-size: 22px;
    line-height: 42px;
    text-align: center;
}

.texto-amarelo{
    font-weight: bold;
    color:#fff81b;
}

.servicos ul{
    width: 135px;
    margin: 40px auto;
    text-align: left;
    font-size: 22px;
    line-height: 42px;
}

.contato p{
    width: 980px;
    margin-top: 10px;
    margin: 10px auto;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
    color:#ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contato ul{
    width: 210px;
    list-style: none;
    margin: 40px auto 40px;
}

.contato li{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}

/* versão mobile */

@media only screen and (max-width: 768px) {
    header {
        height: auto;
    }

    header img {
        width: 30%;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height:2em;
    }

    header a {
        margin: 5px;
        font-size: 16px;
    }

    .sobre img,
    .corretores img {
        width: 80%;
        max-width: 300px;
    }

    .contato iframe {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    p,
    .servicos p,
    .contato p {
        width: 90%;
        font-size: 16px;
        line-height: 24px;
    }

    .servicos {
        text-align: center;
    }

    .servicos ul {
        display: inline-block;
        padding: 0;
    }

    .servicos ul li {
        margin: 0 50%;
    }

    .servicos ul,
    .contato ul {
        width: 90%;
        margin: 20px auto;
    }

    .servicos ul li,
    .contato ul li {
        font-size: 16px;
    }

}