*{
    margin:0;
    padding:0;
}
body{
    font-family: Tahoma;
}
header{
    text-align: center;
    background-color: lightskyblue;
    width: 100vw;
    height: 42vh;
    padding-bottom: 30px;
}

header nav ul{
    display:flex;
    justify-content: center;
 
}

a{
    color:black;
    margin-right: 20px;
    font-size: 20px;
}

header img{
    width:12%;
    margin-top:30px;
}

div {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;

}