*{
    margin:0;
    padding:0;
}

header{
    text-align: center;
    background-color: lightskyblue;
    width: 100vw;
    height: 42vh;
}

header nav ul{
    display:flex;
    justify-content: center;
 
}

a{
    color:black;
    margin-right: 20px;
}

img{
    width:10%;
    margin-top: 2%;
}